h2 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

time {
  display: block;
  text-align: right;
  margin-left: auto;
  font-style: italic;
  font-size: 1.25rem;
}

p {
  margin: 2rem 0;
  font-size: 1.5rem;
}